{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint", 
      "prettier"
    ],
    "parserOptions": {
      "parser": "@typescript-eslint/parser",
      "project": "tsconfig.json",
      "sourceType": "module"
    },
    "extends": [
      "airbnb-base",
      "airbnb-typescript/base",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": { 
      "no-console": "error",
      "prettier/prettier": "error"
    }
  }